html {
    margin: 0;
    padding: 0;
    background:#112435;
}

body {
    margin: 0;
    padding: 0;
}

.iconimage {
    height:20%;
    width: 20%;
}

.buggy {
    display:inline-block;
    padding-top:0.3%;
    color:#fafafa;
    font-size:60px;
    font-family:monospace;
    max-width:50%;
}

.adddiv {
    display:inline-block;
    background:#fafafa;
    max-width:50%;
    padding:0.3%;
    margin:0;
}

.add {
    font-size:60px;
    font-family:monospace;
    color:#000000;
    text-decoration:none;
}

header {
}