html {
    margin: 0;
    padding: 0;
    background:#23272A;
    text-align:center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

header {
    background:#1A1D1E;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.buggyimage {
    height:3.5%;
    width: 3.5%;
}

.nav {
    display:inline-block;
    padding-top:1%;
    padding-bottom:1%;
    color:#fafafa;
    font-size:35px;
}

.navlink {
    color:#fafafa;
    text-decoration:none;
}

.addToServer:hover {
    text-decoration: underline;
}

.padding_example {
    padding-top:15%;
    padding-bottom:10%;
}

.example {
    color:#fafafa;
    font-size:40px;
    display:inline-block;
    padding-left: 1%;
    padding-right: 1%;
    text-shadow: 4px 8px 4px  rgba(0, 0, 0, 0.2);
}

.exampleimage {
    height:100%;
    width:100%;
    border-radius:5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}