html {
    margin: 0;
    padding: 0;
    background:#23272A;
    text-align:center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.iconimage {
    height:20%;
    width: 20%;
}

.nav {
    display:inline-block;
    padding-top:1%;
    padding-bottom:1%;
    color:#fafafa;
    font-size:30px;
}

.navlink {
    color:#fafafa;
    text-decoration:none;
}

.padding_example {
    padding-top:15%;
    padding-bottom:10%;
}

.example {
    color:#fafafa;
    font-size:40px;
    display:inline-block;
    padding-left: 1%;
    padding-right: 1%;
}

.exampleimage {
    height:100%;
    width:100%;
    border-radius:5px;
}